@use "./mixin" as *;
@use "../globals/colors" as *;

.main__section{
    width: 100%;
    margin-bottom: 1em;
.details{
    .details__card {
            @include grid;
    .all{
     background: var(--CardBG);
        border-radius: 5px;
        padding: 30px;
        cursor: pointer;
    &:hover {
            background: var(--hover);
            opacity: 1;
        }
        .info{
            // width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
                margin-bottom: 50px;
                img{
                   object-fit: contain;
                }
            
            p{
                text-transform: capitalize;
                font-weight: 700;
                font-size: 1.2em;
                color: var(--DText);
            }
            
        }
        .ret{
        display: flex;
        flex-direction: row;
        height: 0px;
        align-items: center;
        justify-content: space-between;
            h2{
                color: var(--Text);
                font-size: 1.7em;
            }
            p{
                position: relative;
                top: -15px;
            }
        }
    }
    
        }
}
}