@mixin color($color){
    border-top-width: 4px;
    border-style: solid;
    border-color: $color;
}
@mixin com($color){
    color: $color;
    padding: 0 0.3em;
        font-size: 14px;
        font-weight: 400;
        margin-top: 2.2em;
}
@mixin grid{
        display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            gap: 2em;
}